/* Beginning of The File */

/* Responsibilites Of This File */

/* It handle all Headers and navs in the website */

/*
        *
      *
    *
  *
*
  *
    *
      *
        *
*/

/*Extended Styles Start*/

//Add Here if needed

/*Extended Styles End*/

/* Margin And Padding loop Start */

$spaceAmounts: (1, 2, 3, 4, 5);

@each $space in $spaceAmounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }

  .mt-#{$space} {
    margin: #{$space}rem 0 0 0;
  }

  .mr-#{$space} {
    margin: 0 #{$space}rem 0 0;
  }

  .mb-#{$space} {
    margin: 0 0 #{$space}rem 0;
  }

  .ml-#{$space} {
    margin: 0 0 0 #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .py-#{$space} {
    padding: #{$space}rem 0;
  }

  .px-#{$space} {
    padding: 0 #{$space}rem;
  }

  .pt-#{$space} {
    padding: #{$space}rem 0 0 0;
  }

  .pr-#{$space} {
    padding: 0 #{$space}rem 0 0;
  }

  .pb-#{$space} {
    padding: 0 0 #{$space}rem 0;
  }

  .pl-#{$space} {
    padding: 0 0 0 #{$space}rem;
  }
}

/* Margin And Padding loop End */

/* End of the File */
